/*
-----------------------------------------------
Screen Styles
-----------------------------------------------
Bauhouse
file:		/workspace/assets/css/screen.css
author:		Stephen Bau
date:		22 July 2009
----------------------------------------------- */


/* body
----------------------------------------------- */
body {
	margin: 0;
	padding: 0;
	background: #ddd;
	color: #666;
	font: normal 75%/1.5em helvetica, arial, sans-serif;
	}
body * {
	margin:0;
	padding:0;
	text-decoration:none;
	list-style-type:none;
}

/* anchors
----------------------------------------------- */
a { 
	color: #333;
	text-decoration: none;
	}
a:link, a:visited, a:active  { 
	color: #333;
	text-decoration: none;
	outline:none;
	}
a:hover {
	color: #F00;
	text-decoration: none;
	}


a, img {
	border:none;
}


/* code
----------------------------------------------- */
pre {
	white-space:normal;
}
pre code {
	display:block;
	white-space:pre;
}


/* image replacement
----------------------------------------------- */
em.ir, strong.ir {
	display:block;
	width:0;
	height:0;
	overflow:hidden;
	font-size:0.5em;
	}


/* blocks
----------------------------------------------- */
#top, .middle, .bottom {
	display:block;
	}
.middle {
	overflow:hidden;
	padding-bottom: 3em;
}
.bottom {
	clear:both;
	}


/* box content
----------------------------------------------- */
.box {
	width: auto;
	margin: 0;
	border: 0;
	background: #fff;
	}
.box_header {
	border: 0;
	background: #666 url(../img/shadow_tab.gif) center bottom repeat-x;
	}
.box_mainhead {
	background: #000;
	}
.box_content {
	width: 756px;
	margin: 0 auto;
	background: #fff;
	}
.box h1 {
	width: 754px;
	margin: 0 auto;
	padding: 1.5em 0 1.7em 0;
	font-size: 1.5em;
	text-transform:lowercase;
	background: #000;
	}
.box h1 a {
	display: inline;
	width: auto;
	color: #fff;
	margin:0;
	padding: 1.5em 25px 1.6em 45px;
	font-weight: normal;
	background: #000 url(../img/bauhouse_ampersand.gif) 10px center no-repeat;
	}
.box h1 a:hover {
	color: #f00;
	}
.box h1 a strong {
	color: #f00;
	font-weight: normal;
	}
.box h1 a:hover strong {
	color: #fff;
	}


/* columns
----------------------------------------------- */
.content_2col .colA { 
	float:left;
	width: 540px;
	}
.content_2col .colB { 
	float:left;
	width: 215px;
	}

.content_3col .colA { 
	float:left;
	width: 216px;
	}
.content_3col .colB { 
	float:left;
	width: 204px;
	margin-left:12px;
	}
.content_3col .colC { 
	float:left;
	width: 204px;
	margin-left:12px;
	}


/* main_menu
----------------------------------------------- */
.main_menu {
	width: 756px;
	margin: 0 auto;
	border: 0;
	padding: 0;
	height: 3em;
	}
.main_menu .menu {
	float:right;
	}
.main_menu li {
	display: inline;
	height: 3em;
	border: 0;
	padding: 0;
	}
.main_menu li a {
	float:left;
	display: block;
	margin:0;
	padding:0 .7em;
	color: #ccc;
	background:none;
	line-height:3em;
	}
.main_menu li a:hover {
	color: #fff;
	background: #555;
	}
.main_menu li a:active,
.main_menu li a.active,
.main_menu li a.active:hover {
	color: #fff;
	background: #444;
	}


/* select_tabs
----------------------------------------------- */
.select_tabs {
	padding: 0;
	border: 0;
	height: 3em;
	}
.select_tabs li {
	display: inline;
	height: 2.5em;
	border: 0;
	padding: 0;
	}
.select_tabs li a {
	float:left;
	display: block;
	margin: 0;
	margin-right: 2px;
	margin-top: .5em;
	line-height: 2.5em;
	padding: 0 1em;
	color: #000;
	background: #ddd url(../img/shadow_tab_off.gif) center bottom repeat-x;
	border: 0;
	}
.select_tabs li a:hover {
	color: #900;
	background: #eee url(../img/shadow_tab_over.gif) center bottom repeat-x;
	}
.select_tabs li a:active,
.select_tabs li a.active,
.select_tabs li a.active:hover {
	color: #f00;
	background: #fff url(../img/shadow_tab_active.gif) center bottom repeat-x;
	}


/* subheader, submenu
----------------------------------------------- */
.subheader {
	margin:0;
	padding:0;
	background: #ddd url(../img/shadow_tab_off.gif) center bottom repeat-x;
	border-top:1px solid #fff;
	border-bottom:1px solid #777;
	}
.submenu {
	width: 755px;
	margin: 0 auto;
	padding: 0;
	border:0;
	height:2em;
	font-size:1em;
	border-left:1px solid #aaa;
	}
.submenu ul {
	border-left:1px solid #aaa;
	}
.submenu li {
	margin:0;
	padding:0;
	display:inline;
	border:0;
	height:2em;
	}
.submenu li a {
	float:left;
	display: block;
	margin:0;
	padding: 0 1em;
	line-height: 2em;
	color: #000;
	background: #ddd url(../img/shadow_tab_off.gif) center bottom repeat-x;
	border-right:1px solid #aaa;
	border-left:1px solid #ccc;
	}
.submenu li a:hover {
	background: #eee url(../img/shadow_tab_over.gif) center bottom repeat-x;
	color: #900;
	}
.submenu li a:active,
.submenu li a.active {
	background: #fff url(../img/shadow_tab_active.gif) center bottom repeat-x;
	color: #f00;
	}


/* section
----------------------------------------------- */
.section { 
	background: #bbb;
	height:215px;
	}


/* section_box
----------------------------------------------- */
.section_box { 
	width:756px;
	height:215px;
	margin: 0 auto;
	background: #fff;
	}


/* sectionhead
----------------------------------------------- */
.sectionhead { 
	color: #fff;
	background: #444;
	}
.sectionhead h2 { 
	width:732px;
	margin:0 auto;
	padding: 0 12px .2em 12px;
	font-weight:normal;
	font-size:1.2em;
	line-height:1.8em;
	color: #fff;
	background: #000;
	}


/* sectionmenu
----------------------------------------------- */
.section_menu {
	float:left;
	width:215px;
	height:215px;
	background: #ddd;
	margin:0;
	padding:0;
	}
.section_menu li {
	color: #666;
	line-height:1.2em;
	margin:0;
	list-style: none;
	}
.section_menu li a { 
	color: #000;
	line-height: 1.3em;
	display:block;
	margin:0;
	text-decoration:none;
	padding: .4em 0 .5em 9px;
	border-bottom:1px solid #fff;
	width:206px;
	}
.section_menu li a:link, 
.section_menu li a:visited  { 
  color: #000;
	}
.section_menu li a:hover {
	color: #000;
	line-height: 1.3em;
	background: #eee url(../img/arrowred.gif) no-repeat right center;
	}
.section_menu li a:active,
.section_menu li a.active {
	color: #f00;
	line-height: 1.3em;
	background: #fff url(../img/arrowred.gif) no-repeat right center;
	}


/* sectionsidebar
----------------------------------------------- */
.sectionsidebar {
	float:left;
	width:215px;
	height:215px;
	margin:0;
	padding:0;
	background: #ddd;
	border-right:1px solid #fff;
	}
.sectionsidebar h4 {
	color: #000;
	}


/* sectionimg
----------------------------------------------- */
.sectionimg {
	width:756px;
	height:215px;
	margin: 0 auto;
	padding:0;
	}
.sectionimg p {
	display:none;
	}


/* sectionimage
----------------------------------------------- */
.sectionimage {
	margin:0;
	padding:0;
	background-color: #fff;
	}
.sectionimage img {
	float:left;
	margin:0;
	padding:0;
	}
.section_identity .sectionimage img,
.section_print .sectionimage img,
.section_web .sectionimage img,
.section_type .sectionimage img {
	width:323px;
	height:215px;
	border-right:1px solid #fff;
	}


/* sectionthumbs
----------------------------------------------- */
.section_thumbs {
	float:left;
	width:216px;
	height:215px;
	background: url(../img/thumbs_grid_215.gif) left top no-repeat;
	}
.section_thumbs h3 {
	display:none;
	}
.section_thumbs a {
	float:left;
	display:block;
	padding:0;
	margin:0;
	width:54px;
	height:54px;
	}
.section_thumbs a img {
	width:53px;
	height:53px;
	}

.section_thumbs a img.thumb_over {display:none;}
.section_thumbs a.current img.thumb_over {display:block;}
.section_thumbs a img.thumb_off {display:block;}
.section_thumbs a.current img.thumb_off {display:none;}

.section_thumbs a:link img.thumb_over {display:none;}
.section_thumbs a.current:link img.thumb_over {display:block;}
.section_thumbs a:link img.thumb_off {display:block;}
.section_thumbs a.current:link img.thumb_off {display:none;}

.section_thumbs a:visited img.thumb_over {display:none;}
.section_thumbs a.current:visited img.thumb_over {display:block;}
.section_thumbs a:visited img.thumb_off {display:block;}
.section_thumbs a.current:visited img.thumb_off {display:none;}

* html .section_thumbs a:hover {background: url(../img/thumbs_grid_215.gif) left top no-repeat;} /* ie win hovers won't work without this rule */

.section_thumbs a:hover img.thumb_over {display:block; filter:alpha(opacity=50); -moz-opacity: 0.5; opacity: 0.5;}
.section_thumbs a.current:hover img.thumb_over {display:block; filter:alpha(opacity=100); -moz-opacity: 1; opacity: 1;}
.section_thumbs a:hover img.thumb_off {display:none;}
.section_thumbs a.current:hover img.thumb_off {display:none;}

.section_thumbs a:active img.thumb_over {display:block; filter:alpha(opacity=100); -moz-opacity: 1; opacity: 1;}
.section_thumbs a.current:active img.thumb_over {display:block; filter:alpha(opacity=100); -moz-opacity: 1; opacity: 1;}
.section_thumbs a:active img.thumb_off {display:none;}
.section_thumbs a.current:active img.thumb_off {display:none;}

.section_thumbs a span {
	position:absolute;
	width:100%;
	top:2.3em;
	right:0;
	color: #fff;
	}
.section_thumbs a span strong {
	display:none;
	margin:0 auto;
	padding-left:214px;
	padding-right:15px;
	width:525px;
	color: #fff;
	text-align:right;
	}
.section_thumbs a:hover span {
	display:block;
	}
.section_thumbs a:hover span strong {
	display:block;
	font-weight:normal;
	}
.section_thumbs em {
	color: #f00;
	font-style:normal;
	font-weight:normal;
	}
.section_thumbs br {display:none;}


/* contentthumbs
----------------------------------------------- */
.content_thumbs {
	width: 756px;
	margin: 1px auto 0 auto;
	border: 0;
	}
.content_thumbs a {
	float:left;
	display:block;
	padding:0;
	margin:0;
	margin-right:1px;
	margin-bottom:1px;
	height:107px;
	}
.content_thumbs a img {
	display: none;
	}
.content_thumbs a:hover {
	background: #fff;
	}
.content_thumbs a:link img.view_over {display:none;}
.content_thumbs a:visited img.preview_over {display:none;}
.content_thumbs a:hover img.preview_over {display:block;}
.content_thumbs a:active img.preview_over {display:block;}

.content_thumbs a:link img.preview_off {display:block;}
.content_thumbs a:visited img.preview_off {display:block;}
.content_thumbs a:hover img.preview_off {display:none;}
.content_thumbs a:active img.preview_off {display:none;}

.content_thumbs br {display:none;}


/* content
----------------------------------------------- */
.content p { 
	margin-bottom:1em;
	}
.content del { 
	text-decoration:line-through;
	}
.content h2 {
	margin-top: .5em;
	margin-bottom:1em;
	font-size:1.5em;
	font-weight:normal;
	color: #000;
	}
.section_import .content h2 {
	padding-top:.5em;
	}
.content h3,
.content_secondary h3,
.content h4 { 
	font-size: .9em;
	font-weight: normal;
	letter-spacing: .2em;
	text-transform: uppercase;
	}
.content h3,
.content_secondary h3 { 
	margin: 2em 0 1.5em 0;
	padding:3px 0;
	border-top:1px solid #000;
	border-bottom:1px solid #ccc;
	}
.content h4,
.content h4 span {color: #f00;}
.content h4,
.content h5,
.content h6 { 
	margin-bottom: .8em;
	}
.content h5 { 
	font-size:1em;
	color: #000;
	}
.content .articles h3 {
	margin-left:0;
	padding-left:0;
	}
.content h3 a.view {
	letter-spacing:0;
	text-transform: none;
	}
.content a {
	font-weight:bold;
	}


/* articles
----------------------------------------------- */
.articles { 
	margin-right:15px;
	}
.articles ol,
.articles ul { 
	margin-left:1em;
	margin-bottom:1em;
	}
.articles ol li,
.articles ul li { 
	margin-left:1em;
	list-style-type:square;
	margin-bottom: .5em;
	}
.articles ol li {
	list-style-type:decimal-leading-zero;
	}
.articles pre { 
	padding:15px;
	margin-bottom:15px;
	background: #eee;
	overflow:auto;
	}
.articles blockquote {
	padding-left:15px;
	border-left:1px dotted .999;
	}




/* entry
----------------------------------------------- */
.content .entry { 
	clear:both;
	border-top:1px solid #000;
	margin:1em 0 2em 0;
	}
.content .entry .entry_data { 
	float:left;
	width:198px;
	padding-top:1.5em;
	padding-right: 18px;
	border-top:4px solid #000;
	}
.content .entry .entry_body { 
	padding-top:1em;
	margin-left:216px;
	border-bottom:1px solid #ccc;
	}
.content.content_2col .entry .entry_data { 
	float:left;
	width:90px;
	padding-top:1em;
	border-top:4px solid #000;
	}
.content.content_2col .entry .entry_body { 
	padding-top: .5em;
	margin-left:108px;
	border-bottom:1px solid #ccc;
	}
.section_about .content .entry .entry_body,
.section_contact .content .entry .entry_body { 
	border-bottom:0;
	}
.content .entry .entry_body a span { 
	color: #333;
	text-decoration: none;
	}
.content .entry .entry_body a:hover span { 
	color: #F00;
	text-decoration: none;
	}
.content .entry .entry_info { 
	margin:0;
	padding: .5em 0 .7em 0;
	border-top:1px solid #ccc;
	font-size:0.9em;
	}
.content .entry .entry_info span { 
	float:left;
	width:162px;
	font-weight:bold;
	}
.content.content_2col .entry .entry_info span { 
	float:left;
	width:108px;
	font-weight:bold;
	}
.content .entry .entry_cont { 
	float:right;
	}
.content .entry blockquote { 
	margin-left:2em;
	margin-bottom:2em;
	}
.content .entry ul { 
	padding-left:2em;
	margin-bottom:2em;
	}
.section_contact .content .entry ul { 
	padding-left:0;
	margin-left: 1em;
	}
.content .entry ul li { 
	list-style-type:square;
	}
.content .entry pre { 
	padding:15px;
	margin-bottom:15px;
	border:1px solid #ccc;
	background: #eee;
	overflow:auto;
	}


/* entry images
----------------------------------------------- */
.image-block {
	margin: 20px;
	margin-left: 2em;
	padding: 0;
	}
.image-block img {
	float: none;
	display: inline;
	border: 1px solid #ccc;
	margin: 7px 3px 2px 0;
	padding:3px;
	}
img.entry_image {
	padding:9px;
	border: 1px solid #ccc;
	margin-bottom:12px;
	}
img.left {
	float:left;
	margin-right:12px;
	}
img.right {
	float:right;
	margin-left:12px;
	}

/* entry 1 column
----------------------------------------------- */
.content_1col .entry_body { 
	margin-left:216px;
	}
.content_1col .entry_data { 
	float:left;
	width:215px;
	padding-top: .9em;
	border-top:4px solid #000;
	}


/* content_secondary
----------------------------------------------- */
.content_secondary { 
	margin-top:12px;
	margin-left:108px;
	padding-top:18px;
	border-top:5px solid #000;
	}
.content_secondary h2 { 
	padding-bottom:12px;
	font-weight:normal;
	}
.content_secondary a {
	font-weight:bold;
	}


/* lists
----------------------------------------------- */
.lists { 
	font-size: .9em;
	line-height:1.4em;
	margin-top:12px;
	}
.content .lists h3,
.content_secondary .lists h3 { 
	margin: 0 0 1em 0;
	padding: .7em 0;
	color: #f00;
	}
.lists ul { 
	margin-bottom:10px;
	}
.lists ul.posts li {
	list-style-image:url(../img/a_post.gif);
	}
.lists ul.categories li {
	list-style-image:url(../img/a_category.gif);
}
.lists ul.links li {
	list-style-image:url(../img/a_link_arrow.gif);
}
.lists ul.file_download_list li {
	list-style-image:url(../img/a_download.gif);
	}
.lists ul.feeds li {
	list-style-image:url(../img/a_feed.gif);
}
.lists ul.categories li.subcategory {
	list-style-image:none;
	padding-left:15px;
	background:url(../img/a_subcategory.gif) left 3px no-repeat;
}
.lists ul {
	margin-bottom:15px;
}
.lists ul li {
	margin:2px 0 2px 20px;
	padding-bottom:2px;
	border-bottom:1px solid;
}
.lists li a {
	display:block;
	padding:1px 0;
	height:1%; /* IE WIN */
}
.lists ul li {
	border-bottom-color: #eee;
}
.lists li a:hover {
	color: #f00;
}
.lists li.current a,
.lists li a:active {
	color: #f00;
}

.lists li.date_small {font-size: #8em; margin:0;}

.content .lists ul li a span {
	font-weight:normal;
	}


/* box footer
----------------------------------------------- */
.box_footer {
	width: auto;
	margin: 0;
	border: 0;
	background: #ddd url(../img/shadow_footer.gif) center top repeat-x;
	}
.footer {
	width: 732px;
	margin: 0 auto;
	padding: 25px 12px;
	border: 0;
	}
.footer p {
	font-size: .9em;
	padding: 0;
	margin: 0;
	}
.footer .top {
	float:right;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: .8em;
	text-align:right;
	margin:0;
	}


/* miscellaneous
----------------------------------------------- */

hr {display:none;}

.clear {clear: both;}
.top {
	float:right;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: .8em;
	}
.right {
	float:right;
	}


/* form
----------------------------------------------- */

form {
	background: #eee;
	border: 1px solid #ccc;
	padding: 12px;
	margin-left:-1px;
	margin-right:-1px;
	}
fieldset {
	padding: 12px;
	background: #eee;
	}
legend {
	font-size: 1.2em;
	color: #000;
	padding: .5em;
	}
label {
	display: block;
	}
input {
	display: block;
	color: #000;
	}
textarea {
	margin-top: .5em;
	width: 400px;
	color: #000;
	}
input.text {
	width: 400px;
	}


/* table
----------------------------------------------- */

th {
	padding: .5em 0;
	border-bottom: 1px solid #ccc;
	text-align: left;
	}
td {
	padding: .5em 0;
	border-bottom: 1px solid #ccc;
	}




/* About page
----------------------------------------------- */

.entry ul li {
	list-style-type:square;
	margin-bottom:1em;
	}

form {
	background-color: #eee;
	width: 500px;
	padding: 12px;
	overflow:hidden;
}
label {
	display: block;
	color: #333;
	line-height: 150%;
	margin-bottom: 15px;
}
label small {
	display: block;
	color: #888;
	font-size: 80%;
	text-transform: none;
	text-align: right;
	margin-left: 40%;
	margin-top: -1.55em;
}
label small a:hover {
	color: #666;
	border-color: #888; 
}
textarea {
	display: block;
	width: 99%;
}
input[type="text"] {
	width: 98%;
}
textarea {
	height: 200px;
}
input.submit {
	float: right;
	display: block;
	width: 120px;
}
form p.success {
	color: #6cc33c;
	background: #e2e4db url("../img/icon-tick.gif") left center no-repeat;
	font-size: 99%;
	margin: 0 0 9px;
	padding-left: 24px;
}
form p.error {
	color: #ff4242;
	background: #e2e4db url("../img/icon-cross.gif") left center no-repeat;
	font-size: 99%;
	margin: 0 0 9px;
	padding-left: 24px;
}


/* About page: Tumble Log
----------------------------------------------- */
dl.listing {
	border-top: 1px solid #ccc;
	padding-top: 10px;
	margin-bottom: 20px;
	font-size: .9em;
}

dl.listing dt {
	float: left;
}

dl.listing dd {
	background: url(../img/arrowred.gif) left 0.5em no-repeat;
	padding-left: 15px;
	margin: 0 0 10px 110px;
}



/* Archive page
----------------------------------------------- */
.archive a small {
	color: #aaa;
	font-style: italic;
	font-size: 85%;
}

.archive a {
	display: block;
	padding: 0 10px;
}

.archive a:hover {
	color: #fff;
	background-color: #ccc;	
}

.archive a.active {
	color: #fff;
	background-color: #ccc;
}

.archive ul li {
	margin: 0 0 5px;
}

ul.year {
	float: left;
	list-style: none;
	margin: 0;
}

ul.month {
	float: left;
	list-style: none;
}

ul.past-entries {
	list-style: none;
	border-left: 1px dotted .333;
	padding-left: 20px;
	margin-left: 216px;
}
